<!DOCTYPE html>
<html>
  <head>
    <title>Catalogo de filmes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Adicionar um filme', new_movie_path %><br>
      <li><%= link_to 'Adicionar um diretor', new_director_path %><br>
      <li><%= link_to 'Adicionar um gênero', new_genre_path %><br>
      <li><%= link_to 'Menu', root_path %>
    </ul>
    <%= yield %>
  </body>
</html>
